---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404: Not Found">
  <div class="flex flex-col items-center justify-center h-screen">
    <h1 class="text-4xl font-bold mb-4">404: Not Found</h1>
    <p class="text-xl mb-8">Lo sentimos, la página que buscas no existe.</p>
    <a href="/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Volver al inicio
    </a>
  </div>
</Layout>